# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
*.log

# PyInstaller
*.spec

# Application Data
data/
dtr.db
*.db

# Virtual environments
venv/
env/
.venv/

# IDEs and environments
.vscode/
.idea/
.vs/
